
body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color: #f4f4f4;
}
.custom-search {
	position:  absolute;
	right: 20px;
	top: 11px;
}
#express-form-typeahead {
	background-color: transparent;
	background-image: url(https://api.ning.com:80/files/dr2jDpSXWFhyuoGJ4YR5Fu-PwuqLz70YxRaUcpdKNxf2HI5ECzddyx3NHuPz-MB4ujGS4rEtdtS-aQoFlQrtv*XwVOu*AvC8/searchicon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 0;
}
#express-form-typeahead:focus {
	background-color: #fff;
	border: 2px solid black;
	cursor: text;
	outline: 0;
	width: 230px;
}
.search-btn {
  display: inline-grid;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
/*Global */
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #333;
  color: white;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: right;
}

li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 14px 25px;
text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: red;
}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}
.collapsible {
background-color: #777;
color: white;
cursor: pointer;
padding: 18px;
width: 35%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover {
background-color: #555;
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.button_1{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;

}

.dark{
  padding:15px;
  background: #35424a;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* header */
header{
  background:#262626;
  color: #ffffff;
  padding:30px;
  min-height:70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  background: url('../images/logo.jpg./')no-repeat 0;
  float: left;
}

header #branding h1{
  margin:0;

}
header nav{
  float:right;
  margin-top: 10px;

}
header .highlight, header .current a{
  color: blue;
  font-weight: bold;
}
header a:hover{
  color:#cccccc;
  font-weight: bold;

}
/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 16 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.search input[type=text]{
  float: left;
  padding: 10px;
  border: none;
  margin-top: 0px;
  margin-left: 16px;
  font-size: 17px;
}
.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* showcase */
#showcase{
  min-height: 400px;
  background: url('../images/micro.jpeg')no-repeat 0 ;
  text-align: center;
  color: white;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;

}

#showcase p{
  font-size: 20px;
}

#newsletter {
  padding: 15px;
  color: white;
  background: #262626;
  }

  #newsletter h1{
    float: left;
  }
  #newsletter form{
    float: right;
    margin-top:  15px;

  }


/*boxes */
#boxes{
  margin-top: 20px;
}
#boxes .box{
  float: left;
  text-align: center;
  text-decoration: underline;
  text: bold;
  font-size: 20px;
  width: 30%;
  padding: 10px;

}
/* sidebar*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;

}

/* main col */
article#main-col{
  float: left;
  width: 65%;
}

footer {
  padding:20px;
  margin-top:  20px;
  color: white;
  background-color: #e8491d;
  text-align: center;
}
